/* Gotham Book */
@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamRegular/Gotham-Book.eot");
  src: url("../fonts/GothamRegular/Gotham-Book.woff") format("woff"), url("../fonts/GothamRegular/Gotham-Book.ttf") format("truetype"), url("../fonts/GothamRegular/Gotham-Book.otf") format("opentype"), url("../fonts/GothamRegular/Gotham-Book.svg#Gotham") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Gotham Book Italic */
@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamRegular/Gotham-BookItalic.eot");
  src: url("../fonts/GothamRegular/Gotham-BookItalic.woff") format("woff"), url("../fonts/GothamRegular/Gotham-BookItalic.ttf") format("truetype"), url("../fonts/GothamRegular/Gotham-BookItalic.otf") format("opentype"), url("../fonts/GothamRegular/Gotham-BookItalic.svg#Gotham") format("svg");
  font-weight: normal;
  font-style: italic;
}

/* Gotham Bold */
@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamRegular/Gotham-Bold.eot");
  src: url("../fonts/GothamRegular/Gotham-Bold.woff") format("woff"), url("../fonts/GothamRegular/Gotham-Bold.ttf") format("truetype"), url("../fonts/GothamRegular/Gotham-Bold.otf") format("opentype"), url("../fonts/GothamRegular/Gotham-Bold.svg#Gotham") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* Gotham Bold Italic */
@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamRegular/Gotham-BoldItalic.eot");
  src: url("../fonts/GothamRegular/Gotham-BoldItalic.woff") format("woff"), url("../fonts/GothamRegular/Gotham-BoldItalic.ttf") format("truetype"), url("../fonts/GothamRegular/Gotham-BoldItalic.otf") format("opentype"), url("../fonts/GothamRegular/Gotham-BoldItalic.svg#Gotham") format("svg");
  font-weight: bold;
  font-style: italic;
}
