// --------------------------------------------------
// Colors
// --------------------------------------------------
$defaultTextColor: rgb(0,0,0);
$defaultBackgroundColor: rgb(255,255,255);
$defaultLinkColor: rgb(0,0,0);
$defaultLinkHoverColor: rgb(0,0,0);
$defaultPlaceholderColor: rgb(153,153,153);

$mobileBackgroundColor: rgb(255,255,255);

$errorMessageColor: rgb(220,0,0);
$errorMessageBackgroundColor: rgb(100,0,0);
$errorMessageColorWithBackground: rgb(255,255,255);

// --------------------------------------------------
// Font
// --------------------------------------------------

$defaultFont: "Helvetica Rounded Bold",Helvetica,serif;
$defaultHeaderFont: "Helvetica World",Helvetica,serif;

$defaultFontSize: 11pt;
$smallFontSize: $defaultFontSize;
//$xsmallFont: 0.7em;

// --------------------------------------------------
// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
$screen-xs:                  480px;
$screen-phone:               $screen-xs;

// Small screen / tablet
$screen-sm:                  768px;
$screen-tablet:              $screen-sm;

// Medium screen / desktop
$screen-md:                  992px;
$screen-desktop:             $screen-md;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-desktop:          $screen-lg;

// Extra large screen / wide desktop
$screen-xl:                  1900px;
$screen-xl-desktop:          $screen-xl;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm - 1);
$screen-sm-max:              ($screen-md - 1);
$screen-md-max:              ($screen-lg - 1);
